* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f9f9f9;
}
@font-face {
    font-family: OpenSans; 
    src: url(fonts/open-sans.ttf); 
}

.container {
    height: 950px;
    width: 1060px;
    margin: 0px auto 0px auto;
    background-color: white;
    -webkit-box-shadow: 0px 0px 3px 4px rgba(231,231,231,1);
    -moz-box-shadow: 0px 0px 3px 4px rgba(231,231,231,1);
    box-shadow: 0px 0px 3px 4px rgba(231,231,231,1);
    }
.header {
    height: 207px;
    }

.logo {
    margin-top: 51px;
    margin-left: 47px;
}

.menu {
    background-color: #454444;
    background: linear-gradient(to top, #454444, #5e5e5e);
    margin-left: 47px;
    margin-top:40px;
    width: 965px;
    height: 40px;
    line-height: 40px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
    }

.menu li{display: inline-block;
    list-style:none;

}

.menu a {
     text-decoration: none;
     padding: 10px 35px 10px 25px;
     font-size: 14px;
     color: white;
     font-family: OpenSans;
 /*   border-right: solid 1px #525151;
    border-left: solid 1px #525151;*/
 }

.menu a:hover {
    background-color: #333333;
    border-right: solid 1px #838383;
    border-left: solid 1px #838383;
}

.sidebar {
    border-top: solid 1px #c8c8c8;
    width: 240px;
    height: 240px;
    margin-left: 47px;
    float: left;
}
a.menu2 {
    text-decoration: none;
    padding: 10px 10px 10px 25px;
    border-left: solid 1px #c8c8c8;
    border-right: solid 1px #c8c8c8;
    border-bottom: solid 0.5px #c8c8c8;
    font-size: 13px;
    color: #656363;
    font-family: OpenSans;
    display: block;
    }
.sidebar li{
    list-style:none;
}
a.menu2:hover {
    color: black;
    background-color: #f9f9f9;
	padding-left: 35px;
}

.content {
   
    width: 677px;
    float: right;
    margin-right: 50px;
    margin-bottom: 40px;
}
img.container_image {
    width: 677px;
    border: solid 1px #c8c8c8;
}

p {
    font-size: 13px;
    color: #2c2c2c;
    font-family: OpenSans;
    padding: 15px;
}

.footer {
    clear: both;
    background-color: #e1e1e1;
    height: 40px;
    width: 965px;
    margin-left: 47px;
    vertical-align: middle;
    }

a.footer1 {
    text-decoration: none;
    padding: 35px 40px 45px 25px;
    font-size: 13px;
    color: #2c2c2c;
    font-family: OpenSans;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    }

a.footer1:hover {
    text-decoration: underline;
}
span {
    margin-left: 310px;
    font-size: 13px;
    color: #2c2c2c;
    font-family: OpenSans;

}