@font-face {
    font-family: 'HelveticaNeueLt';
    src: url('../fonts/HelveticaNeueLt/HelveticaNeueLt.woff2') format('woff2'),
         url('../fonts/HelveticaNeueLt/HelveticaNeueLt.woff') format('woff'),
         url("../fonts/HelveticaNeueLt/HelveticaNeueLt.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}