@import "reset.css";
@import "fonts.css";
/*styles*/
html {
  box-sizing: border-box;
  /*height: 100%*/;
  overflow-y: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: "HelveticaNeueLt", Arial, sans-serif;
	font-size: 14px;
  height: 1066%;
/*  background: url("img/bg.jpg");
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
 background-attachment: fixed; */
}
/*header*/
.clearfix:before {
	content: '';
	clear: both;
	display: block;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
}
.header {
	height: 36px;
	background: url(img/header-pattern.jpg) repeat-x 0 0;
}
.header_list {
	float: right;
}
.header_list li {
	display: inline-block;
}
.header_list li a {
	color: #60b5ed;
	text-decoration: none;
	display: block;
	padding: 0 12px;
	line-height: 34px;
	border: 1px solid transparent;
}
.header_list li a:hover {
	background-color: #4eabda;
	color: #fff;
	border: 1px solid #60b5ed;
	/*transition: all 0.2s ease-in-out;*/
}
.link_other span {
	text-decoration: underline;
}
.header_list a.link_other {
	color: #fff;
	border: 1px solid transparent;
}
.header_list a.hov,
.header_list a.link_other:hover {
	border: 1px solid #489bd5;
	background: rgb(80,175,220);
  background: -moz-linear-gradient(top, rgb(80,175,220) 0%, rgb(46,122,196) 100%);
  background: -webkit-linear-gradient(top, rgb(80,175,220) 0%,rgb(46,122,196) 100%);
  background: linear-gradient(to bottom, rgb(80,175,220) 0%,rgb(46,122,196) 100%);
}
.header_list a.link_fl {
	padding-left: 33px;
}
.header_list li:nth-child(5),
.header_list li:nth-child(6) {
	position: relative;
}

.header_list a.last_li:after {
	content: '';
	display: inline-block;
	width: 1px;
	height: 30px;
	background-color: #60b5ed;
	position: absolute;
	top: 2px;
	right: 3px;
	margin-right: 7px;
}

.header_list a.link_fl:before {
	content: '';
	display: block;
	background: url(img/flag.png) no-repeat 0 5px;
	width: 25px;
	height: 27px;
	position: absolute;
	top: 3px;
	left: 0;
}
.last_li {
	margin-right: 10px;
}


img.background {
  min-height: 100%;
  min-width: 1215px;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media screen and (max-width: 1215px) {
  img.background {
    left: 50%;
    margin-left: -607px;
  }
}
.content {
    width: 100%;
    padding-top: 210px;
    padding-bottom: 210px;
  text-align: center;
  background: url("img/bg.jpg");
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
 background-attachment: fixed; 

}
.content:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.form-wrap {
   vertical-align: middle;
  width: 560px;
  height: 615px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  margin: auto;
  
  }

.form-wrap h3 {
	font-size: 24px;
	padding: 20px 0;
	border-bottom: 1px solid #b7bfaa;
}
.fb {
	width: 276px;
	height: 35px;
	background: url(img/fb.png) no-repeat;
	cursor: pointer;
	border: 0;
	margin-top: 35px;
}
.dec_line {
	color: #7d7f7c;
	position: relative;
	margin: 30px 0 25px;
}
.dec_line p:after,
.dec_line p:before {
	content: '';
	display: block;
	width: 124px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #000;
	position: absolute;
}
.dec_line p:before {
	top: 6px;
	left: 143px;
}
.dec_line p:after {
	top: 6px;
	right: 143px;
}
form {
	width: 280px;
	margin: 0 auto;
}
.form-wrap input[type="text"],
.form-wrap input[type="email"],
.form-wrap input[type="password"] {
	display: block;
	background-color: #000;
	color: #fffbfb;
	padding: 10px 18px;
	border: 0;
	margin-bottom: 15px;
	width: 100%;
	border-bottom: 1px solid #484948;
}
.form-wrap input[type="submit"] {
	display: block;
	margin: 15px auto 25px;
}
.form-wrap input[type="text"]:focus,
.form-wrap input[type="email"]:focus,
.form-wrap input[type="password"]:focus {
	outline: none;
	background-color: #1b5288;
-webkit-box-shadow: 0px 0px 10px 0px rgba(75,134,176,1);
-moz-box-shadow: 0px 0px 10px 0px rgba(75,134,176,1);
box-shadow: 0px 0px 10px 0px rgba(75,134,176,1);
}
::-webkit-input-placeholder {
   color: #fffbfb;
}
:-moz-placeholder {
   color: #fffbfb;  
}
::-moz-placeholder {
   color: #fffbfb;  
}
.content form {
	text-align: left;
}
.content .form-wrap input[type="checkbox"] {
	width: 13px;
	display: inline-block;
	margin-bottom: 10px;
	margin-top: -3px;
}
.butt_acc {
	padding: 10px 13px;
	border: 0;
	margin: 10px 0 15px;
	border-radius: 3px;
	cursor: pointer;
	color: #fff;
	background: rgb(80,174,219);
background: -moz-linear-gradient(top, rgb(80,174,219) 0%, rgb(46,122,196) 100%);
background: -webkit-linear-gradient(top, rgb(80,174,219) 0%,rgb(46,122,196) 100%);
background: linear-gradient(to bottom, rgb(80,174,219) 0%,rgb(46,122,196) 100%);
}
.form-wrap p {
	font-size: 11px;
	padding-bottom: 5px;
}